{% load static %}
<html>
    <head>
        <link rel="stylesheet" href ="{% static 'users/styles.css'%}">
        <link rel="stylesheet" href ="{% static 'users/style.css'%}">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <h2 class="text-2xl m-10 font-bold">Edit User Profile<h2/>
            <div class="container py-5 mx-10">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   <div class="mb-2">
                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">First name</lable>
                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                        {{ user_form.first_name}}
                    </div>
                   </div>
                   <div class="mb-2">
                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Last name</lable>
                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                        {{ user_form.last_name}}
                    </div>
                   </div>
                   <div class="mb-2">
                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Email_id</lable>
                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                        {{ user_form.email}}
                    </div>
                   </div>
                   <div class="mb-2">
                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Photo</lable>
                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                        {{ profile_form.photo}}
                    </div>
                   </div>
                    <button type="submit" class="bg-green-500 text-white my-5 mx-5 py-2">Submit</button>
                </form>
            </div>    <h2 class="text-2xl m-10 font-bold">Edit User Profile<h2/>
                <div class="container py-5 mx-10">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div class="mb-2">
                        <lable class="block text-grey-700 text-sm font-bold mb-2"for="">First name</lable>
                        <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                            {{ user_form.first_name}}
                        </div>
                       </div>
                       <div class="mb-2">
                        <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Last name</lable>
                        <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                            {{ user_form.last_name}}
                        </div>
                       </div>
                       <div class="mb-2">
                        <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Email_id</lable>
                        <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                            {{ user_form.email}}
                        </div>
                       </div>
                       <div class="mb-2">
                        <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Photo</lable>
                        <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                            {{ profile_form.photo}}
                        </div>
                       </div>
                        <button type="submit" class="bg-green-500 text-white my-5 mx-5 py-2">Submit</button>
                    </form>
                </div>    <h2 class="text-2xl m-10 font-bold">Edit User Profile<h2/>
                    <div class="container py-5 mx-10">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                           <div class="mb-2">
                            <lable class="block text-grey-700 text-sm font-bold mb-2"for="">First name</lable>
                            <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                {{ user_form.first_name}}
                            </div>
                           </div>
                           <div class="mb-2">
                            <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Last name</lable>
                            <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                {{ user_form.last_name}}
                            </div>
                           </div>
                           <div class="mb-2">
                            <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Email_id</lable>
                            <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                {{ user_form.email}}
                            </div>
                           </div>
                           <div class="mb-2">
                            <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Photo</lable>
                            <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                {{ profile_form.photo}}
                            </div>
                           </div>
                            <button type="submit" class="bg-green-500 text-white my-5 mx-5 py-2">Submit</button>
                        </form>
                    </div>    <h2 class="text-2xl m-10 font-bold">Edit User Profile<h2/>
                        <div class="container py-5 mx-10">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                               <div class="mb-2">
                                <lable class="block text-grey-700 text-sm font-bold mb-2"for="">First name</lable>
                                <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                    {{ user_form.first_name}}
                                </div>
                               </div>
                               <div class="mb-2">
                                <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Last name</lable>
                                <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                    {{ user_form.last_name}}
                                </div>
                               </div>
                               <div class="mb-2">
                                <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Email_id</lable>
                                <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                    {{ user_form.email}}
                                </div>
                               </div>
                               <div class="mb-2">
                                <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Photo</lable>
                                <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                    {{ profile_form.photo}}
                                </div>
                               </div>
                                <button type="submit" class="bg-green-500 text-white my-5 mx-5 py-2">Submit</button>
                            </form>
                        </div>    <h2 class="text-2xl m-10 font-bold">Edit User Profile<h2/>
                            <div class="container py-5 mx-10">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                   <div class="mb-2">
                                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">First name</lable>
                                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                        {{ user_form.first_name}}
                                    </div>
                                   </div>
                                   <div class="mb-2">
                                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Last name</lable>
                                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                        {{ user_form.last_name}}
                                    </div>
                                   </div>
                                   <div class="mb-2">
                                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Email_id</lable>
                                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                        {{ user_form.email}}
                                    </div>
                                   </div>
                                   <div class="mb-2">
                                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Photo</lable>
                                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                        {{ profile_form.photo}}
                                    </div>
                                   </div>
                                    <button type="submit" class="bg-green-500 text-white my-5 mx-5 py-2">Submit</button>
                                </form>
                            </div>    <h2 class="text-2xl m-10 font-bold">Edit User Profile<h2/>
                                <div class="container py-5 mx-10">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                       <div class="mb-2">
                                        <lable class="block text-grey-700 text-sm font-bold mb-2"for="">First name</lable>
                                        <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                            {{ user_form.first_name}}
                                        </div>
                                       </div>
                                       <div class="mb-2">
                                        <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Last name</lable>
                                        <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                            {{ user_form.last_name}}
                                        </div>
                                       </div>
                                       <div class="mb-2">
                                        <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Email_id</lable>
                                        <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                            {{ user_form.email}}
                                        </div>
                                       </div>
                                       <div class="mb-2">
                                        <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Photo</lable>
                                        <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                                            {{ profile_form.photo}}
                                        </div>
                                       </div>
                                        <button type="submit" class="bg-green-500 text-white my-5 mx-5 py-2">Submit</button>
                                    </form>
                                </div>    
        <h2 class="text-2xl m-10 font-bold">Edit User Profile<h2/>
            <div class="container py-5 mx-10">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   <div class="mb-2">
                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">First name</lable>
                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                        {{ user_form.first_name}}
                    </div>
                   </div>
                   <div class="mb-2">
                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Last name</lable>
                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                        {{ user_form.last_name}}
                    </div>
                   </div>
                   <div class="mb-2">
                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Email_id</lable>
                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                        {{ user_form.email}}
                    </div>
                   </div>
                   <div class="mb-2">
                    <lable class="block text-grey-700 text-sm font-bold mb-2"for="">Photo</lable>
                    <div class="shadow appearance-none border roundedmpy-2 px-3 mr-10 text-grey">
                        {{ profile_form.photo}}
                    </div>
                   </div>
                    <button type="submit" class="bg-green-500 text-white my-5 mx-5 py-2">Submit</button>
                </form>
            </div>    
    </head>
    <body>
        <nav class=shadow-lg>
            <div class='px-4 mx-auto'>
                <div class="flex justify-between">
                    <!--Website logo-->
                 <div>
                     <a class = "flex" href="">
                        <img class='h-8 w-8 mr-2' src="{% static 'users/images/social.png' %} %} %}" alt="">
                           <span class='font-semibold text-lg text-gray-500'>Photo App</span>
                        <a/>
                 </div>
                     <!--Website items-->
                     <div class='space-x-1'>
                        {% if request.user.is_authenticated %}
                       <a class='py-4 px-2 font-semibold text-gray-500' href="{% url 'logout' %}">Logout</a>
                       {% else %}
                       <a class='py-4 px-2 font-semibold text-gray-500' href="{% url 'login' %}">Login</a>
                       {% endif %}
                       <a class='py-4 px-2 font-semibold text-gray-500' href="">Link1</a>
                     </div>
                <div/>
            <div/>
        </nav>
        {% block body %}
        {% endblock %}

    </body>
</html>